* {
  box-sizing: border-box;
}

html,
body,
#root {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  background: var(--white);
  color: var(--dark);
  font-size: 16px;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 15px;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:active,
  &:hover,
  &:visited {
    color: inherit;
  }
}
